.mediaViewInfo {
	--web-view-name: Rincian Reservasi Umat;
	--web-view-id: Rincian_Reservasi_Umat;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Rincian_Reservasi_Umat;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Rincian_Reservasi_Umat {
	position: absolute;
	width: 1280px;
	height: 800px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: Rincian Reservasi Umat;
	--web-view-id: Rincian_Reservasi_Umat;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#Header_s {
	fill: url(#Header_s);
}
.Header_s {
	position: absolute;
	overflow: visible;
	width: 1280px;
	height: 224px;
	left: 0px;
	top: 0px;
}
#Paroki_Santo_Stefanus_Purwosar {
	left: 301px;
	top: 23px;
	position: absolute;
	overflow: visible;
	width: 679px;
	white-space: nowrap;
	text-align: center;
	font-family: Nirmala UI;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	color: rgba(0,0,0,1);
}
#Tiket_Reservasi {
	left: 49px;
	top: 224px;
	position: absolute;
	overflow: visible;
	width: 253px;
	white-space: nowrap;
	text-align: center;
	font-family: Nirmala UI;
	font-style: normal;
	font-weight: normal;
	font-size: 39px;
	color: rgba(0,0,0,1);
}
#Nama {
	left: 49px;
	top: 328px;
	position: absolute;
	overflow: visible;
	width: 82px;
	white-space: nowrap;
	text-align: left;
	font-family: Nirmala UI;
	font-style: normal;
	font-weight: normal;
	font-size: 31px;
	color: rgba(0,0,0,1);
}
#Hari_Tanggal {
	left: 49px;
	top: 421px;
	position: absolute;
	overflow: visible;
	width: 178px;
	white-space: nowrap;
	text-align: left;
	font-family: Nirmala UI;
	font-style: normal;
	font-weight: normal;
	font-size: 31px;
	color: rgba(0,0,0,1);
}
#Alamat {
	left: 49px;
	top: 514px;
	position: absolute;
	overflow: visible;
	width: 97px;
	white-space: nowrap;
	text-align: left;
	font-family: Nirmala UI;
	font-style: normal;
	font-weight: normal;
	font-size: 31px;
	color: rgba(0,0,0,1);
}
#ButtonCetak {
	fill: rgba(246,196,58,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.ButtonCetak {
	position: absolute;
	overflow: visible;
	width: 122px;
	height: 53px;
	left: 979px;
	top: 691px;
}
#CETAK {
	left: 1010px;
	top: 704px;
	position: absolute;
	overflow: visible;
	width: 61px;
	white-space: nowrap;
	text-align: center;
	font-family: Nirmala UI;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#ButtonSelesai {
	fill: rgba(246,196,58,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.ButtonSelesai {
	position: absolute;
	overflow: visible;
	width: 122px;
	height: 53px;
	left: 797px;
	top: 691px;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Homepage.html;
	cursor: pointer;
}
#SELESAI {
	left: 821px;
	top: 704px;
	position: absolute;
	overflow: visible;
	width: 75px;
	white-space: nowrap;
	text-align: center;
	font-family: Nirmala UI;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(255,255,255,1);
}